.vs/Game A Week 01/v17/.suo
.vs/Game A Week 01/v17/Browse.VC.db
.vs/Game A Week 01/v17/Browse.VC.db-shm
.vs/Game A Week 01/v17/Browse.VC.db-wal
.vs/Game A Week 01/v17/Browse.VC.opendb
.vs/Game A Week 01/v17/DocumentLayout.backup.json
.vs/Game A Week 01/v17/DocumentLayout.json
.vs/Game A Week 01/FileContentIndex/b3851a0d-4daf-4c98-9ff8-6eb9c5074466.vsidx
Game A Week 01.vcxproj.user
Game A Week 01/x64/Debug/App.obj
Game A Week 01/x64/Debug/Audio.obj
Game A Week 01/x64/Debug/Camera2D.obj
Game A Week 01/x64/Debug/Enemy.obj
Game A Week 01/x64/Debug/EnemySpawner.obj
Game A Week 01/x64/Debug/Fps.obj
Game A Week 01/x64/Debug/Game A Week 01.Build.CppClean.log
Game A Week 01/x64/Debug/Game A Week 01.exe.recipe
Game A Week 01/x64/Debug/Game A Week 01.ilk
Game A Week 01/x64/Debug/Game A Week 01.log
Game A Week 01/x64/Debug/Game A Week 01.tlog/CL.command.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/Cl.items.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/CL.read.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/CL.write.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/Game A Week 01.lastbuildstate
Game A Week 01/x64/Debug/Game A Week 01.tlog/link.command.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/link.read.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/link.secondary.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.tlog/link.write.1.tlog
Game A Week 01/x64/Debug/Game A Week 01.vcxproj.FileListAbsolute.txt
Game A Week 01/x64/Debug/GameScene.obj
Game A Week 01/x64/Debug/Input.obj
Game A Week 01/x64/Debug/main.obj
Game A Week 01/x64/Debug/Player.obj
Game A Week 01/x64/Debug/Quality.obj
Game A Week 01/x64/Debug/RenderUtil.obj
Game A Week 01/x64/Debug/ResultScene.obj
Game A Week 01/x64/Debug/SceneManager.obj
Game A Week 01/x64/Debug/Score.obj
Game A Week 01/x64/Debug/Time.obj
Game A Week 01/x64/Debug/TitleScene.obj
Game A Week 01/x64/Debug/vc143.idb
Game A Week 01/x64/Debug/vc143.pdb
hiscore.dat
Log.txt
x64/Debug/Game A Week 01.exe
x64/Debug/Game A Week 01.pdb
